body {
  background-color: rgb(245, 245, 245);
  margin: 0;
}

h2 {
  font-size: 24;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50pt;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-image: linear-gradient(
    to right,
    rgb(106, 126, 231),
    rgb(6, 195, 237)
  );
  color: white;
}

label {
  font-size: 10pt;
}

h3 {
  padding-top: 10pt;
  font-size: 14pt;
}

h2,
h3,
label,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

select,
input {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

select,
input {
  height: 15pt;
  width: 150pt;
  border-radius: 5pt;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-width: 0.8pt;
  border-color: rgb(190, 190, 190);
}

button {
  border: None;
  border-radius: 5pt;
  width: 150pt;
  height: 30pt;
  color: rgb(251, 250, 242);
  font-size: medium;
  background-image: linear-gradient(
    to right,
    rgb(106, 126, 231),
    rgb(6, 195, 237)
  );
  margin-bottom: 30pt;
  margin-top: 10pt;
}

button:hover {
  color: white;
  cursor: pointer;
}

#buttonDiv {
  padding-top: 20pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#main_body {
  min-height: 91vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#toolbar {
  padding-left: 20pt;
  padding-right: 20pt;
  background-color: rgb(255, 255, 255);
}

#visualization{
    margin: 50pt;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vh;
    align-items: center;
}
